.map-wrapper {
    height: 96vh; 
    width: 100%;
    position: relative;
}

.map-wrapper .btn-marker {
    position: absolute;
    background: none rgb(255, 255, 255);
    border: 0px;
    margin: 10px;
    padding: 0px;
    text-transform: none;
    appearance: none;
    position: absolute;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    overflow: hidden;
    top: 29px;
    right: 50px;
    z-index: 9;
}

.marker svg {
    width: 30px !important;
    height: 30px;
}

.marker path {
    fill: #DB5C51;
}